html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #16a085;
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #363636;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

strong {
}

a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

	.image
	{
		display: inline-block;
	}

		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr {
	display: none;
}


	ul.style1
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul.style1 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}

	ul.style1 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}

	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}


	ul.contact
	{
		margin: 0;
		padding: 1.5em 0em 2.5em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #FFFFFF;
	}
	.iframe-container
	{
		margin-left: 310px;
	}

.resp_code
{
	position: absolute;
	top: 450px;
	left: 100px;
	height: 90%;
}
.calorietext
{
	top: 50px;
	position: absolute;
	left: 450px;
	color: white;
	font-size: 80px;
	font-family: arial;
}
.calorietitle
{
	position:absolute;
	top: 30px;
}
.mealtitle
{
	position:absolute;
	top: 20px
}

#auroralogotop
{

	position: absolute;
	top: 18px;
	left: 30px;
  height: 300px;
	width: 300px;
  vertical-align: middle;
}

	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }


	.title
	{
		margin-bottom: 2em;
		text-transform: uppercase;
	}

	.title h2
	{
		font-weight: 400;
		font-size: 2em;
		color: #16a085;
	}

	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}



#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

.footer
{
   left: 0;
   bottom: 10px;
   width: auto;
	 height:100px;
   background-color: #16a085;
   color: white;
   text-align: center;
	 font-family: 'Roboto', sans-serif;
 	 font-size: 20px;
	 vertical-align: middle;
	 horizontal-align: middle;

}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


#header-wrapper
{
	overflow: hidden;
	background: url(images/bg01.png) repeat;
	background-size: 100%;
	padding: 6em 0em 2em 0em;
	background: #333333;
}


	#header
	{
		position: relative;
		overflow: hidden;
		text-align: center;
	}

	/* The progress container (grey background) */
.progress-container {
	position:fixed;
  width: 100%;
  height: 10px;
  background: #333333;
}

/* The progress bar (scroll indicator) */
.progress-bar {
	position:fixed;
  height: 10px;
  background: #16a085;
  width: 0%;
}


	#logo
	{
		width: 500px;
		height: 100px;
		margin: 0 auto;
		padding: 2em 0em;
		text-transform: uppercase;
	}

	#logo h1
	{
		letter-spacing: 0.10em;
		font-size: 3em;
	}

	#logo p
	{
		letter-spacing: 0.10em;
		color: #FFF;
	}

	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}


	#banner
	{
		overflow: hidden;
		height: 500px;
		background-size: cover;
	}

	#banner .image
	{
	}



#menu-wrapper
{
	background: #16a085;
}

#menu {
	overflow: hidden;
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	padding: 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	line-height: 100px;
	border: none;
	color: #FFF;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

.active:hover{
	background: #1abc9c;
}

#menu .current_page_item a {
	background: #1abc9c;
}


#page
{
	position: relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
}


#content
{
	float: left;
	width: 790px;
}


	#sidebar
	{
		float: right;
		width: 345px;
	}

	#sidebar .title h2
	{
		font-size: 1.6em;
	}

	#sidebar .box1
	{
		margin-bottom: 3em;
	}


	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
	}

	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,.5);
	}

	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,.7);
	}


	#welcome
	{
		overflow: hidden;
		padding: 5em 0em;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
	}

	#welcome h2
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
	}

	#welcome p
	{
		font-size: 1.3em;
	}

	#welcome .byline
	{
		display: block;
		padding: 0em 0em 1.5em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #6F6F6F;
	}


	#portfolio-wrapper
	{
		background: rgba(0,0,0,.04);
		padding: 6em 0em;
		color: rgba(255,255,255,.7);
	}

	#portfolio
	{
		overflow: hidden;
	}

	#portfolio .title h2
	{
		font-size: 1.2em;
		color: #FFF;
	}

	#portfolio .byline
	{
		font-size: 1em;
		color: #EEA7C1;
	}

	#column1,
	#column2,
	#column3,
	#column4
	{
		width: 282px;
	}

	#column1,
	#column2
	{
		float: left;
		margin-right: 24px;
	}

	#column3
	{
		float: left;
	}

	#column4
	{
		float: right;
	}

.classificationbutton
{
	display: inline-block;
background-color: #1abc9c;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
-webkit-transition-duration: 1.0s;
transition-duration: 0.4s;
cursor: pointer;
}
	.buttonhover
	{
		position: absolute;
		left: 30px;
		display: inline-block;
  background-color: #1abc9c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 1.0s;
  transition-duration: 0.4s;
  cursor: pointer;
	font-family: 'Roboto', sans-serif;
	 border-radius: 10px;
	}
.gototop
	{
		position: fixed;
		bottom: 20px;
	  right: 30px;
		display: none;
		z-index: 99;
	  background-color: #1abc9c;
		border: none;
	  outline: none;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
		cursor: pointer;
	  padding: 15px;
	  border-radius: 10px;
	  -webkit-transition-duration: 1.0s;
	  transition-duration: 0.4s;

	}
	.button1
	{
  background-color: #1abc9c;
  color: white;
  border: 2px solid #1abc9c;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	}
	.button1:hover
	{
  background-color: #333333;
	border: 2px solid #333333;
  color: white;
	width: 150px;
	height: 100px;
	border-radius: 10px;
	}
	.button2
	{
  background-color: #1abc9c;
  color: white;
  border: 2px solid #1abc9c;
	width: 180px;
	height: 40px;
	border-radius: 10px;
	}
	.button2:hover
	{
  background-color: #333333;
	border: 2px solid #333333;
  color: white;
	width: 180px;
	height: 40px;
	border-radius: 10px;
	}

	.button3
	{
  background-color: #1abc9c;
  color: white;
  border: 2px solid #1abc9c;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	}
	.button3:hover
	{
  background-color: #333333;
	border: 2px solid #333333;
  color: white;
	width: 250px;
	height: 70px;
	border-radius: 10px;
	}



	}


	#box1
	{
		float: left;
		width: 354px;
		margin-right: 24px;
		padding-right: 30px;
	}

	#box2
	{
		float: left;
		width: 354px;
		margin-left: 24px;
		padding-right: 30px;
	}

	#box3
	{
		float: right;
		width: 344px;
		padding-left: 40px;
	}
